@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}
header {
  display: flex; /* using this , the element of header can be next to each other */
  justify-content: space-between; /*It pushes the first element to the left and the last element to the right*/
  align-items: center;
  background-color: white;
  padding: 0 175px;
  height: 90px;
  border-bottom: 0.001px solid rgb(210, 210, 210);
}

nav {
  display: flex; /*control over the element , so like that we can have gap between them*/
  align-items: center; /*to center the element so they wont go up */
  gap: 35px;
}

nav a {
  /* here i am talking about the a inside the nav so other a wont be affected*/
  text-decoration: none; /* to remove the line under the text*/
  color: black;
  font-style: inter;
  font-weight: 600;
}

nav a.active {
  /* this one so whenever i click on link it turend bleu */
  color: #2563eb;
}

.btn {
  background-color: #2563eb;
  color: white;
  padding: 14px 22px;
  text-decoration: none;
}

.image {
  height: 110px;
  width: auto;
}

footer {
  display: flex;
  height: 90px;
  background-color: #01153e;
  text-align: center;
  justify-content: center;
}

.second-nav {
  display: flex;
  align-items: center;
  gap: 100px;
}

.second-nav a {
  display: flex;
  color: white;
  align-items: center;
}

.hero {
  padding: 90px 175px;
  color: white;
  background-color: #01153e;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.hero-text {
  max-width: 650px;
}

.hero-info {
  min-width: 290px;
  padding: 32px;
  color: #01153e;
  background-color: white;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-size: 47px;
}

.button {
  padding: 15px 15px;
  background-color: white;
  color: #01153e;
  font-style: inter;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}
.stats {
  height: 150px;
  background-color: #f6f5fc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}

.stats-div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.stats-div p:first-child {
  font-size: 42px;
  font-weight: 800;
  line-height: 1;
  color: #0b132f;
}

.stats-div p:last-child {
  font-size: 13px;
  font-weight: 700;
  color: #0b132f;
  letter-spacing: 0;
}

.event {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  gap: 80px;
  padding: 70px 14%;
}

.left > p:first-child {
  font-size: 14px;
  font-weight: bold;
  color: #2563eb;
  letter-spacing: 2px;
}

.left > p:nth-child(2) {
  font-size: 36px;
  font-weight: bold;
  margin: 15px 0;
}

.left > p:nth-child(3) {
  font-size: 16px;
  line-height: 1.7;
}

.right {
  padding-left: 30px;
  padding-right: 20px;
  background-color: #f6f5fc;
}

.right h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.right p {
  font-size: 16px;
  line-height: 1.7;
}

.right ul {
  padding-left: 20px;
  line-height: 2;
}

.right li {
  font-size: 16px;
}
.speakers {
  background-color: #f1f5f9;
  padding: 100px 10%;
}

.speakers-header {
  text-align: center;
  margin-bottom: 50px;
}

.speakers-header > p:first-child {
  color: #2864e8;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 12px;
}

.speakers-header h2 {
  color: #0b132f;
  font-size: 40px;
  font-weight: 800;
  margin: 0 0 15px;
}

.speakers-header > p:last-child {
  color: #0b132f;
  font-size: 17px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 650px;
}

.speakers-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.speaker-card {
  background-color: white;
  width: 100%;
  max-width: 445px;
  overflow: hidden;
}

.speaker-card img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
}

.speaker-info {
  padding: 25px 30px 30px;
}

.speaker-info h3 {
  color: #0b132f;
  font-size: 25px;
  font-weight: 800;
  margin: 0 0 10px;
}

.speaker-role {
  color: #2864e8;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 30px;
}

.speaker-info > p:last-child {
  color: #0b132f;
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
}
.heroInter-content {
  font-family: Inter;
  padding-right: 600px;
}
.heroInter {
  padding-top: 52px;
  padding-bottom: 72px;
  padding-left: 175px;
  padding-right: 175px;
  color: white;
  background-color: #01153e;
}
.Intermain {
  background-color: #f6f5fc;
}

.heroInsc {
  padding-top: 42px;
  padding-bottom: 62px;
  padding-left: 175px;
  color: white;
  background-color: #01153e;
}
.programme {
  background-color: #f1f5f9;
  padding: 60px 13%;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.day-number {
  color: #2563eb;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.day-header h2 {
  color: #071b41;
  font-size: 38px;
  margin: 0;
}

.welcome {
  color: #071b41;
  font-size: 18px;
}

.event-card {
  background-color: white;
  min-height: 165px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;

  padding: 0 32px;
}
.event-time {
  background-color: #2864e8;
  color: white;

  width: 103px;
  height: 58px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
}

.event-info {
  padding-left: 30px;
}

.category {
  color: #2864e8;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 8px;
}

.event-info h3 {
  color: #071b41;
  font-size: 23px;
  margin: 0 0 10px;
}

.event-info p:last-child {
  color: #071b41;
  font-size: 18px;
  margin: 0;
}
